<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
<servlet-name>loginservlet</servlet-name>
<servlet-class>com.servlets.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginservlet</servlet-name>
<url-pattern>/loginservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addservlet</servlet-name>
<servlet-class>com.servlets.AddServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addservlet</servlet-name>
<url-pattern>/addservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>listservlet</servlet-name>
<servlet-class>com.servlets.ListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>listservlet</servlet-name>
<url-pattern>/listservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>logoutservlet</servlet-name>
<servlet-class>com.servlets.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logoutservlet</servlet-name>
<url-pattern>/logoutservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>adminservlet</servlet-name>
<servlet-class>com.servlets.AdminServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>adminservlet</servlet-name>
<url-pattern>/adminservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updateservlet</servlet-name>
<servlet-class>com.servlets.UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateservlet</servlet-name>
<url-pattern>/updateservlet</url-pattern>
</servlet-mapping>

</web-app>