<app-test></app-test>
<!-- <app-interpolations></app-interpolations>
<br>
<app-events></app-events>
<app-ngif></app-ngif>
<app-ngswitch></app-ngswitch>
<app-ngfor></app-ngfor>
<app-exercise1></app-exercise1>
<app-pipes></app-pipes>
<app-employee-list></app-employee-list>

<div class="parent">
    <h2>parent</h2>
    <h1>{{message}}</h1>
    <app-child (childEvent)="message=$event" [childData]='parentData'></app-child>
</div>

<div class="container">

    <h2>parent</h2>
    <app-counter-output [value] = 'value'></app-counter-output>
    <app-counter-button (childEvent)="value=$event"></app-counter-button>


</div>
<app-data-service></app-data-service>
<app-fetching></app-fetching>
<app-get-images></app-get-images> -->

<h1>App Component</h1>

<marquee behavior="" direction="">I am getting refresh!!!!</marquee>

<a routerLink="/department" class="btn btn-primary">Department</a>
<a routerLink="/company" class="btn btn-primary">Company</a>

<router-outlet></router-outlet>