<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
<servlet-name>Servlet1</servlet-name>
<servlet-class>com.session.Servlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet1</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet2</servlet-name>
<servlet-class>com.session.Servlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet2</servlet-name>
<url-pattern>/servlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet3</servlet-name>
<servlet-class>com.session.Servlet3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet3</servlet-name>
<url-pattern>/servlet3</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet4</servlet-name>
<servlet-class>com.session.Servlet4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet4</servlet-name>
<url-pattern>/servlet4</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet5</servlet-name>
<servlet-class>com.session.Servlet5</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet5</servlet-name>
<url-pattern>/servlet5</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet6</servlet-name>
<servlet-class>com.session.Servlet6</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet6</servlet-name>
<url-pattern>/servlet6</url-pattern>
</servlet-mapping>
</web-app>